*.bak
emacs/auto-save-list
emacs/aux
emacs/eglot-java-eclipse-jdt-cache
emacs/elpa
emacs/history
emacs/projects
emacs/recentf
emacs/share
emacs/tree-sitter
gcloud
gh
git
github-copilot
gtk-2.0
iterm2
jgit
nx
tmux/plugins
*~